
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Track My Student</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/app.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Track My Student</a>
        <ul class="nav navbar-nav">
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/nonfaculty">Non-Faculty</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/">Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <body bgcolor = "#000000">

  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class="centered-content">
          <h2>Welcome, Non-Faculty</h2>
          <h3>Functions available</h3>
        </div>
 
<div>
    <ul>
        <h4><li><a href= "/studentInfo"> View Student information</a></li></h4>
        <h4><li><a href= "/changeRequest"> Submit Change Request</a></li></h4>
        </ul>
</div>
